[core]
	autocrlf = "input"
	editor = "vim"
	sshCommand = "ssh"

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[rebase]
	autoStash = true

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[url "git@gitlab.com:"]
	insteadOf = "https://gitlab.com/"

[user]
	name = Ryan A Rodriguez
	email = ryan.and.rodriguez@gmail.com
